{% set file_link = file_url(paragraph.field_download_upload.entity.fileuri) %}

<div class="automo lens-sec1 br-inj">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                {{ content.field_section_title}}
                 {{ content.field_description|raw }}
                {{ content.field_text_|raw }}
                <a class="broucher" href="{{ file_link }}">{{ content.field_lin|raw }}<span><i class="fa fa-download"></i></span></a>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
            {{content.field_carousel_of_images_2}}
            </div>

        </div>
    </div>
</div>
