{% set img = file_url(paragraph.field_p_image.entity.fileuri) %}
{% set img_right = file_url(paragraph.field_image.entity.fileuri) %}
{% set img_left = file_url(paragraph.field_image.entity.fileuri) %}

 <div class="tiltle-bar">
  <div class="container">
    <div class="row">
    <div class="col-md-12">
     {{ content.field_body|raw }}
    </div>
  </div>
  </div>
</div>


<div class="suport-sec1">
        <div class="container">
            <div class="rwo">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    {{ content.field_description|raw }}
                    
                    <a href="tel:{{ content.field_ci.value }}">
                        {{ content.field_ci.value }}
                        <small>{{ content.field_subtitle.value }}</small>
                    </a>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <img src="{{ img }}" alt="suport1">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <img src="{{ img }}" alt="suport2">
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="reachbox">
                        <h1>{{ content.field_body.value }}</h1>
                        {{ content.field_description.value}}
                        <a class="btn-gen" href="{{ content.field_link.vlaue }}">REACH US USING THE DETAILS BELOW <span><i class="fa fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="reachbox2">
                        {{ content.field_body|raw }}
                        {{ content.field_description|raw }}
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <img src="{{ img_right }}" alt="suport3">
                </div>
            </div>
        </div>
    </div>